<div class="details">
<p><img src={{dog.image}} alt={{dog.type}}></p>
{{dog.blog}}
</div>

<button class="delete2" {{action 'delete' dog}}>Delete</button>

   {{#each dog.comments as |comment|}}
    {{comment-tile comment=comment  deleteComment="deleteComment"}}
   {{/each}}
