<p><img src={{dog.image}} alt={{dog.type}}></p>
{{dog.blog}}
<hr>
<button class="delete "{{action 'delete' dog}}>Delete</button>
 <h2>comments</h2>
 <ul>
   {{#each dog.comments as |comment|}}
   {{comment-tile comment=comment deleteComment="deleteComment"}}
   {{/each}}
 </ul>
 <button {{action 'delete' comment}}>Delete</button>
