{{#if addNewComment}}
<h1>New Comment</h1>
  <div>
    <form>
      <div class="newCom2">
        <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>
      <button class="save" {{action 'saveComment'}}>Enter</button>
    </div>
    </form>
  </div>
{{else}}
  <button class="newCom" {{action 'commentFormShow'}}>New Comment</button>
{{/if}}
