{{#if addNewDog}}
<div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="type">Age</label>
        {{input value=age id="age"}}
      </div>

      <div class="form-group">
        <label for="type">Blog</label>
        {{input value=blog id="blog"}}
      </div>

      <div class="form-group">
        <label for="type">Image</label>
        {{input value=image id="image"}}
      </div>
      <button {{action 'saveDog1'}}>Post Dog</button>
    </form>
    </div>
      {{else}}
<button {{action 'dogFormShow'}}>Post</button>
{{/if}}
