{{#if addNewDog}}
<div id="allInput">
    <form>
      <div>
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>

      <div>
        <label for="type">Type</label>
        {{input value=type id="type"}}
      </div>

      <div>
        <label for="type">Age</label>
        {{input value=age id="age"}}
      </div>

      <div>
        <label for="type">Blog</label>
        {{input value=blog id="blog"}}
      </div>

      <div>
        <label for="type">Image</label>
        {{input value=image id="image"}}
      </div>
      <button class="post" {{action 'saveDog1'}}>Post Dog</button>
    </form>
    </div>
      {{else}}
<button class="post2" {{action 'dogFormShow'}}>Post</button>
{{/if}}
