<div class="dogheader">
<h1>{{model.name}} the {{model.type}}</h1>
</div>

{{update-dog dog=model update="update"}}

{{dog-detail dog=model deleteDog="deleteDog" deleteComment="deleteComment"}}

{{new-comment saveComment="saveComment" dog=model}}
