{{new-dog saveDog2="saveDog3"}}
  {{#each model.dogs as |dog|}}
    <div class="polaroid">
      {{update-dog dog=dog update="update"}}
      {{#link-to 'dog' dog.id}}<img src={{dog.image}}>{{/link-to}}
      <div class="container-fliud">
        <h2>{{#link-to 'dog' dog.id}}{{dog.name}}{{/link-to}}</h2>
        <h4>{{dog.type}}</h4>
        <h4>{{dog.age}} years old</h4>
        <!-- <p>{{dog.blog}}</p> -->
        {{delete-dog dog=dog deleteDog="deleteDog"}}
      </div>
    </div>
    {{/each}}

    <h2> All Comments </h2>
    <ul>
      {{#each model.comments as |comment|}}
        <li>{{comment.content}} - by {{comment.author}}</li>
      {{/each}}
    </ul>

    <!-- {{new-comment saveComment="saveComment"}} -->
