<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">{{#link-to 'about'}}About{{/link-to}}</a></li>
      <li><a href="#">{{#link-to 'contact'}}Contact{{/link-to}}</a></li>
    </ul>
  </div>
</nav> -->
      <!-- {{#link-to 'about'}}About{{/link-to}} -->
      <!-- {{#link-to 'contact'}}Contact{{/link-to}} -->

{{new-dog saveDog2="saveDog3"}}
  {{#each model as |dog|}}
    <div class="polaroid">
      {{update-dog dog=dog update="update"}}
      {{#link-to 'dog' dog.id}}<img src={{dog.image}}>{{/link-to}}
      <div class="container-fliud">
        <h2>{{#link-to 'dog' dog.id}}{{dog.name}}{{/link-to}}</h2>
        <h4>{{dog.type}}</h4>
        <h4>{{dog.age}} years old</h4>
        <!-- <p>{{dog.blog}}</p> -->
        {{delete-dog dog=dog deleteDog="deleteDog"}}
      </div>
    </div>
  {{/each}}
